---
- name: object | Find most recent object
  ansible.builtin.find:
    paths: "{{ restore_directory }}/{{ inventory_hostname }}"
    patterns: "{{ object.type }}-{{ object.name }}-*"
  become: false
  delegate_to: localhost
  register: restore_found_files
- name: object | Select latest_file in restore_found_files
  ansible.builtin.set_fact:
    latest_file: "{{ restore_found_files.files | sort(attribute='mtime') | last }}"
  when:
    - restore_found_files.files | length
- name: object | Copy latest_file
  ansible.builtin.copy:
    dest: "{{ restore_remote_directory }}/{{ latest_file.path | basename }}"
    mode: "0644"
    src: "{{ latest_file.path }}"
  when:
    - latest_file is defined
- name: object | Unarchive directory object
  ansible.builtin.command:
    cmd: unzip "{{ restore_remote_directory }}/{{ latest_file.path | basename }}"
  changed_when: true
  when:
    - latest_file is defined
    - object.type == "directory"
- name: object | Find extension
  ansible.builtin.set_fact:
    latest_file_extension: "{{ latest_file.path | basename | splitext | last }}"
  when:
    - latest_file is defined
    - object.type == "mysql"
- name: object | Unarchive mysql object
  ansible.builtin.unarchive:
    dest: "{{ restore_remote_directory }}"
    exclude: "{{ object.exclude | default(omit) }}"
    mode: "0755"
    remote_src: true
    src: "{{ restore_remote_directory }}/{{ latest_file.path | basename }}"
  when:
    - latest_file is defined
    - object.type == "mysql"
    - latest_file_extension in [ ".gz", ".tgz", ".tar", ".zip" ]
- name: object | Import mysql database
  community.mysql.mysql_db:
    login_password: "{{ restore_mysql_password | default(omit) }}"
    login_unix_socket: "{{ restore_mysql_socket }}"
    login_user: "{{ restore_mysql_username | default(omit) }}"
    name: "{{ object.destination }}"
    state: import
    target: "{{ restore_remote_directory }}/{{ latest_file.path | basename | splitext | first }}.sql"
  when:
    - latest_file is defined
    - object.type == "mysql"
- name: object | Unarchive postgres object
  ansible.builtin.unarchive:
    dest: "{{ restore_remote_directory }}"
    exclude: "{{ object.exclude | default(omit) }}"
    mode: "0755"
    remote_src: true
    src: "{{ restore_remote_directory }}/{{ latest_file.path | basename }}"
  when:
    - latest_file is defined
    - object.type == "postgres"
    - latest_file_extension in [ ".gz", ".tgz", ".tar", ".zip" ]
- name: object | Import postgres database
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ object.destination }}"
    state: restore
    target: "{{ restore_remote_directory }}/{{ latest_file.path | basename | splitext | first }}.sql"
  when:
    - latest_file is defined
    - object.type == "mysql"
